@charset "EUC-KR";

#main {
   display: flex;
   justify-content: center;
   align-items: center;
}

#dosirak {
   display: flex;
   flex-direction: column;
   width: 1200px;
   height: 100%;
   background-image: url(../asset/image/dosi.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

.dosirak-row {
   display: flex;
   width: 100%;
}

.dosirak-row.rf {
   margin-top: 90px;
}

.dosirak-row.rs {
   margin-top: 70px;
}

#first1 {
   margin-left: 175px;
}

#secnd2 {
   margin-left: 65px;
}

#third3 {
   margin-left: 67px;
}

#fourh4 {
   margin-left: 200px;
   width: 337px;
   height: 300px;
}
#fifth5 {
   margin-left: 94px;
   width: 337px;
   height: 300px;
}