<?xml version="1.0" encoding="UTF-8"?>
<!-- sql구문을 설정하는 파일 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.smhrd.model.MemberDAO">
	
    <select id="loginCheck" parameterType="Member" resultType="int">
        select count(*) from tbl_member 
        where mb_id ='${mb_Id}' and mb_pw ='${mb_Pw}'
    </select>
    <insert id="insertMember" parameterType="Member">
        insert into tbl_member (mb_id,mb_pw,mb_birthdate,mb_gender,mb_joindate,mb_type)
        values ('${mb_Id}','${mb_Pw}','${mb_Birthdate}','${mb_Gender}',sysdate,'u')
    </insert>
    <select id="idCheck" parameterType="Member" resultType="int">
        select mb_id from tbl_member where mb_id ='${mb_Id}'
    </select>
    <update id="updateMember" parameterType="Member">
        update tbl_member
        set mb_birthdate='${mb_Birthdate}', mb_gender='${mb_Gender}'
        where mb_id='${mb_Id}'
    </update>
</mapper>