<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.model.LunchboxDetailDAO">
  
  	<select id="lunchboxes" resultType="Recipe">
  		select * from TBL_RECIPE where RECIPE_CODE in (select RECIPE_CODE from TBL_LUNCHBOX_DETAIL where LB_SEQ = #{lb_seq})
	</select>
	
  </mapper>